button{
  padding: 0 8px;
  height: 32px;
  width: max-content;
  border: none;
  border-radius: var(--radius-1);
  background-color: var(--color-grey-8);
  color: var(--color-grey-1);
}

button:hover{
  cursor: pointer;
  background-color: var(--color-grey-6);
}

.card-main button{
  background-color: var(--color-grey-7);
}

.genere-choose button:focus{
  background-color: var(--color-grey-1);
  color: var(--color-grey-8);
}